html,body{
  background:#000;
  color:#fff;
}
div{
  width:50%;
  text-align:center;
  margin:0 auto;
}
.rails{
  width: 50px;
  height: 64px;
  background: image-url('rails.png');
}
a{
  color:bisque;
}
